@page {
 margin: auto; /* Отступы для первой страницы */ 
}
@media print, screen {
	@font-face {
	 font-family: Trebuchet_MS;
	 src: url(Trebuchet_MS.ttf);
	}
	#outer_frame{
	width:957px;
	height:632px;
	color: #0b333c;
	background:#FFFFFF;
	border: 2px #b7babc solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	margin-top:-8px;
	margin-left:-8px;
	font-family: Trebuchet MS;
	}
	#menu_frame{
	width:295px;
	height:560px;
	color: #0b333c;
	background:#f3f3f3;
	border: 2px solid solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	margin-top: 37px;
	margin-left: 17px;
	text-align: left;
	float: left;
	}
	#white_square{
		width:7px;
		height:7px;
		background:#FFFFFF;
		float:left;
		position:relative;
		top:4px;
	}
	.button1
	{
	position: relative;
	padding: 6px 20px;
	margin: 0px 10px 10px 0px;
	float: left;
	width:240px;
	border:2px solid #55beec;
	border-radius: 10px;
	font-size: 10px;
	color: #FFF;
	text-decoration: none;	
	background-image: linear-gradient(to bottom, #30A5D9, #036FB3);
	}			
	.button2
	{
	position: relative;
	padding: 4px 10px;
	margin: 0px 5px 6px 0px;
	float: left;
	width:260px;
	border:2px solid #55beec;
	border-radius: 8px;
	font-size: 11px;
	font-weight:600;
	color: #FFF;
	text-decoration: none;	
	background-image: linear-gradient(to bottom, #30A5D9, #036FB3);
	}
	.button3
	{
	position: relative;
	margin: 5px 5px 14px 0px;
	float: left;
	width:38px;
	height:20px; 
	border:1px solid #888b8c;
	border-radius: 5px;
	font-size: 10px;
	color: #FFF;
	
	background-image: linear-gradient(to bottom, #fbfbfb, #e4e4e4);
	}
	.button3:hover {
		border:1px solid #0080d2;
		background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
	}
	#arrow_box {
		top: 5px;
		left:17px;
		position: relative;
		background-image: linear-gradient(to bottom, #369dd3, #117bd3);
		border: 0px solid #117bd3;
		width:8px;
		height:5px;
		margin-top: 2px;
		
	}
	#arrow_box:after, .arrow_box:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 1;
		position: absolute;
		pointer-events: none;
	}
	
	#arrow_box:after {
		border-color: rgba(10, 135, 225, 0);
		border-right-color: #0a87e1;
		border-width: 7px;
		margin-top: -7px;
	}
	#head_txt {
		top:5px;
		left:0px;
		position: relative;
		float:left;
		width:240px;
		height:20px;
		font-size: 17px;
		font-weight:600;
		color:#02334e;
		text-align: left;
	}
	#body_frame{
		position: relative;
		overflow: scroll;
		width:620px;
		height:560px;
		margin-top: 37px;
		margin-left: 17px;
		float: left;
	}
	#body_head{				
		position: relative;
		width:620px;
		font-size: 17px;
		font-weight:400;
		color:#02334e;
		text-align: center;
		text-decoration:underline;
		padding-top:10px;
		padding-bottom: 20px;
	}
	.body_item{
		border:1px solid #0080d2;
	}
	.body_item_text{
		position: relative;
		width:470px;
		font-size: 11px;
		font-weight:400;
		color:#02334e;
		text-align: left;
		float:left;
	}
	.body_item_button{
	position: relative;
	float: left;
	width:90px;
	height:20px; 
	border:1px solid #888b8c;
	border-radius: 5px;
	font-size: 11px;
	font-weight:600;
	text-decoration: none;
	text-align: center;
	background-image: linear-gradient(to bottom, #fbfbfb, #e4e4e4);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor:default;
	margin-bottom:5px;
	padding-top:5px;
	}
	.body_item_button:hover {
	border:1px solid #0080d2;
	background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
	}
	.table{
	width:605px;
	height:400px;
	border:2px solid;
	}
	.tab_header{
	position: relative;
	width:605px;
	height:105px;
	margin-left:-2px;
	margin-top:-2px;
	float: left;
	border:2px solid;
	}
	.tab_header1{
	height:50px;
	}
	.drucken_btn{
	top:30px;
	left:510px;
	width:75px;
	position: absolute;
	}
	.num_btn{
	top:30px;
	left:20px;
	width:75px;
	position: absolute;
	}
	.PUB{
	top:15px;
	left:10px;
	}
	.tabHeader1{
	position: absolute;
	font-size: 15px;
	font-weight:600;
	top:60px;
	width:605px;
	text-align:center;
	float:left;
	}
	.tabHeader2{
	overflow:hidden;
	position: relative;
	font-size: 15px;
	font-weight:600;
	top:60px;
	width:605px;
	height:20px;
	text-align:center;
	float:left;
	margin-top:5px;
	}
	.margin4text{
	margin-top:5px;
	margin-left:5px;
	}
	.tab_cell{
	position: relative;
	float: left;
	border:1px solid;
	margin-left:-1px;
	margin-top:-1px;
	}
	.sel{
	width:290px;
	}	
}